@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');


@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#websiteOverlay {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 150%;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  color: white;
  opacity: 0;
  -webkit-animation: fadeOut 2s;
  animation: fadeOut 2s;
}

/* Global  default color=rgb(25,25,25)*/
html{
  min-height: 100%;
  overflow: hidden;
}
body{
  height: calc(100vh - 8em);
  padding: 4em;
  color: yellowgreen;
  font-family: 'Anonymous Pro', monospace;  
  background-color: rgba(0,32,63,255)
;  
}
.line-1{
    color: rgba(172,239,209,255);
    position: relative;
    top: 8%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 300%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(30) 1s 1 normal both,
             blinkTextCursor 500ms steps(30) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: white;}
  to{border-right-color: transparent;}
}
.newfont {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;  
}
.ubuntufont {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 40px;
  text-align: center;
  color: rgba(46,168,217,255);

}